body{
  font-size: 16px;
}

.App {
  text-align: center;
  background: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  color: white;
}

.App.is-out-of-date{
  background: #f44336;
}

.App.is-out-of-date .name{
  font-size: 2em;
}

.clock{
  display: flex;
  flex-direction: row; 
  width: 80%;
}

.clock .part{
  width: 25%;
}

.clock .part h1{
  font-size: 150px;
  font-weight: 200;
  line-clamp: 1.48;
  margin: 0;
}

@media (max-width:1080px){
  .clock .part h1{
    font-size: 100px;
  }
}

@media (max-width:760px){
  .clock .part h1{
    font-size: 50px;
  }
}

.clock .part label{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.next-container{
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.next-container p{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

h2.name{
  margin-bottom: 0;
}

p.owner-label{
  margin-top: 0;
  font-size: 0.8em;
}